<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>Ahiru Playground</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <h1>Ahiru Playground</h1>
  <div class="main">
    <textarea class="editor"><%= initial_code %></textarea>
    <div class="output">
    </div>
  </div>
  <script src="/script.js"></script>
</body>

</html>